<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>vue</title>
<link href="/static/css/app.b8ca23af268785f06617dee4619a3626.css" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/static/js/manifest.2ae2e69a05c33dfc65f8.js"></script><script type="text/javascript" src="/static/js/vendor.5162fda8021f6ce3da6c.js"></script><script type="text/javascript" src="/static/js/app.a607929af4e2fe9d4d72.js"></script></body>
</html>
